{% load static %}
{% csrf_token %}
{% block content %}
<a href="/admin" class="btn btn-primary">Home</a>
<table id="carTable">
    <thead>
    <tr>
        <th>Car Name</th>
        <th>Locked</th>
        <th>Location</th>
        <th>Booked For</th>
        <th>Lock</th>
        <th>Unlock</th>
    </tr>
    </thead>
    <tbody>
    <!-- Rows will be added dynamically -->
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cars.js' %}"> </script>

{% endblock %}
