{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Nuno - Nurse Notes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_change.css' %}">

</head>
<body>
    <header>
        <h1>Welcome to nuno</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
