.centered-form {
  margin: 20px; /* This will add a margin around the form */
}

.centered-form form {
  background-color: #f0f0f0;
  color: #333;
}

.centered-form button {
  background-color: #f0f0f0;
  color: #333;
}
